*.class

# Eclipse
bin/
**/bin/
.classpath
.settings
.project

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Mac
.DS_Store

# Maven
target/
**/target/
*.log
*.log.*

# Other
wars/

**/inventoryTest.inventory.json